.vscode/**
.vscode-test/**
src/**
node_modules/**
.walkthrough/**
esbuild.js
tsconfig.json
**/*.map
**/*.ts
.gitignore
.git/**
.github/**
*.vsix
.eslintrc*
.prettierrc*
icon.svg
!dist/**
!icon.png
!README.md
!CHANGELOG.md
!LICENSE
